<app-header (featureSelected)="onNavigate($event)"></app-header>
<!-- //REVIEW -we can placesomething else also in place of $event but in that case we have to pass second argument as$event in funtion throgh which event emmits
//TODO : $event is simply the even data to be emitted -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>
